<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>

<h1><%= @question %></h1>
<h1><%= @answer %></h1>


<form action="???">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>

<%= link_to "Know more about us", ask_path %>

